body {
    background-color: #FBECEB;
    color:rgb(0, 0, 0);
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
}
.fir {
    position:absolute;
    background: #002447;
    height:59px;
    width:100vw;
    top:0;
    left:0;
    margin:0 0 0 0;
    display: inline;
}
.sec {
    position:absolute;
    background: #53D3D1;
    height:40px;
    width:100vw;
    top:59px;
    left:0;
    margin:0 0 100px 0;
}
.mainbody {
    width:100px;
    height:auto;
    top:300px;
    margin:0 auto;
    margin-top:200px;
}
.searchicon {
    position:relative;
    background-color: #FEB249;
    display:grid;
    width:42px;
    height:39px;
    border-radius: 7px 7px 1px 1px;
    display: inline-flex;
    border-width: 1px;
    border-color:orange;
    border-style: double;
    rotate:90deg;
    left:-40px;
    top:2px;
    
}
.searchicon:hover {
    background-color: #faa123;
}
/*search icon placed in front of submit search button*/
.searchicon ~ span{
    position:relative;
    font-size:35px;
    rotate:110deg;
    top:13px;
    left:-62px;
}
.searchbar {
    box-sizing: content-box;
    display: inline-flex;
    height:20px;
    margin-top:10px;
    z-index:5;
}
.search {
    box-sizing: content-box;
    height:40px;
    min-width:180px;
    width:30vw; 
    margin-top:0px;
    display: inline-flex;
    border-radius: 7px;
    border: none;
}
.search::checked {
    border:20px;
}
.accountText {
    box-sizing: content-box;
    color:white;
    height:40px;
    font-size:17px;
    margin:0;
    padding:5px;
    display:inline-block;
}
.shoppingCartIcon {
    height:39px;
}
#featuredProductScroll {   
    display:inline-flex;
    background-color: rgb(238, 236, 236);
    border-radius:6px;
    width: 70vw;
    height: 300px;
    overflow-x: scroll;
    margin:100px 15vw 0 15vw;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}
.featuredProducts {
    display:inline-flex;
    min-width: 70vw;
    scroll-snap-align: start;
}
#logo {
    box-sizing: content-box;
    height:40px;
    display: inline-flex;
    margin: 0 20px 0 10px;

}
