body {
    background-color: #FBECEB;
    color:rgb(0, 0, 0);
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
}
.fir {
    position:absolute;
    background: #002447;
    height:59px;
    width:100vw;
    top:0;
    left:0;
    margin:0 0 0 0;
    display: inline;
    z-index: -1;
}
.sec {
    position:absolute;
    background: #53D3D1;
    height:40px;
    width:100vw;
    top:59px;
    left:0;
    margin:0 0 0 0;
    z-index: -1;
}
.mainbody {
    width:100px;
    height:auto;
    top:300px;
    margin:0 auto;
    margin-top:200px;
}
.searchicon {
    background-color: #FEB249;
    width:43px;
    height:42px;
    border-radius: 2px 7px 7px 2px;
    display: inline-flex;
    border-width: 1px;
    border-color:orange;
    border-style: double;
    
}
.searchicon:hover {
    background-color: #faa123;
}
/*search icon in submit search button*/
.searchicon > span{
    font-size:35px;
    rotate: 88deg;
    margin-left:8px;
}
.searchbar {
    box-sizing: content-box;
    display: inline-flex;
    height:20px;
    margin-top:10px;
}
.search {
    box-sizing: content-box;
    height:36px;
    min-width:180px;
    width:30vw; 
    margin-top:0px;
    display: inline-flex;
}
.search::checked {
    border:20px;
}
#logo {
    box-sizing: content-box;
    height:40px;
    display: inline-flex;
    margin: 0 20px 0 10px;

}

