body {
    background-color: #FBECEB;
    color:rgb(0, 0, 0);
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
}
.fir {
    display:flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    background: #002447;
    height:59px;
    width:100vw;
    top:0;
    left:0;
    margin:0;
    padding:0;
}
.firChild {
    flex: 1 1 auto;
}
a.firChild {
    height:49.75px;
    margin:0 4.625px;
    /*I hate this stubborn CSS*/
}
.sec {
    position:absolute;
    background: #53D3D1;
    height:40px;
    width:100vw;
    top:59px;
    left:0;
    margin:0 0 100px 0;
}
.mainbody {
    width:100px;
    height:auto;
    top:300px;
    margin:0 auto;
    margin-top:200px;
}
.searchicon {
    position:relative;
    background-color: #FEB249;
    display:grid;
    width:42px;
    height:39px;
    border-radius: 8px 8px 1px 1px;
    display: inline-flex;
    border-width: 1px;
    border-color:orange;
    border-style: double;
    rotate:90deg;
    left:-58px;
    
}
.searchicon:hover {
    background-color: #faa123;
}
/*search icon placed in front of submit search button*/
.searchicon ~ span{
    position:relative;
    font-size:35px;
    display:inline-flex;
    rotate:110deg;
    top:5px;
    left:-109px;

}
.searchbar {
    box-sizing: content-box;
    min-width:190px;
    z-index:5;
}
.search {
    box-sizing: content-box;
    height:40px;
    min-width:180px;
    width:30vw; 
    border-radius: 7px;
    border: none;
}
.search::checked {
    border:20px;
}
.accountText {
    box-sizing: content-box;
    color:white;
    height:40px;
    font-size:17px;
    margin:0;
    padding:5px;
    display:inline-block;
}
.shoppingCartIcon {
    height:39px;
    max-width:50.2333px;
    margin: 0 0.5rem;
}
#featuredProductScroll {   
    display:inline-flex;
    background-color: rgb(238, 236, 236);
    border-radius:6px;
    width: 70vw;
    height: 300px;
    overflow-x: scroll;
    margin:100px 15vw 0 15vw;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}
.featuredProducts {
    display:inline-flex;
    min-width: 70vw;
    scroll-snap-align: start;
}
.logo {
    height:inherit;
    width:49.75px;
}



.footer {
    position:relative;
    background-color: #002447;
    color:white;
    font-size:0.9rem;
    font-family:Arial, Helvetica, sans-serif;
    width:100vw;
    height:300px;
    padding:0;
    margin:300px 0 0 0;
    left:-8px;
    top:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
} 
.footerChildren {
    flex:0 1 auto;
}